html{
  font-size: 20px;
}
body{
   /* bodyのフォント指定 */
  font-family: "Arial", "Meiryo", sans-serif;
  size: 1rem;
  text-align: center;

}
.first{
  /* ここにh1を指定します */
  font-family: 'Josefin Sans', sans-serif;
  size: 2em;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}
.textsky{
  color: skyblue;

}
.textpink{
  color: rgb(255, 192, 203);
}


#basic > p {
  font-weight: bold;
}