body{
   /* bodyのフォント指定 */
  font-family: "Arial", "Meiryo", sans-serif;

}
.first{
  /* ここにh1を指定します */
  font-family: 'Josefin Sans', sans-serif;
  size: 40px;
  letter-spacing: 1.2em;
  text-shadow: 1px 1px 2px gray;
  border-bottom: solid 3px rgb(115, 115, 114);
}
.textsky{
  color: skyblue;

}
.textpink{
  color: rgb(255, 192, 203);
}

.parent{
  text-align: center;
}
.textb{
  font-weight: bold;

  
}

p{
  font-size: 20px;
}
